.toc{
    border: 1px solid rgba(35, 67, 128, 0.07);
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(25px);
}
.toc-item{
    border: 1px solid transparent;
}
.toc-item span{
    color: rgba(84, 142, 255, 0.30);
    margin-right: 4px;
}
.toc-item.active{
    border: 1px solid rgba(84, 142, 255, 0.50);
}
.toc-item.active span{
    color: var(--clr-100);
}
#condo-article{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 25.2px */
    letter-spacing: -0.18px;
 
}


.units-icon{
    background: rgba(93, 107, 119, 0.05);
}

.condosSingle{
    background-image: url(../assets/images/blurry\ background.png);
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: cover;
}
.divider-x{
    opacity: 0.07;
    background: #000;
}

.condoinfo-tables{
        border: 1px solid rgba(36, 62, 81, 0.10);
}
.condoinfo-tables > div:nth-child(odd){
    border-right: 1px solid rgba(36, 62, 81, 0.10);
    border-bottom: 1px solid rgba(36, 62, 81, 0.10);
}
.condoinfo-tables > div:nth-child(even){
    border-bottom: 1px solid rgba(36, 62, 81, 0.10);
}
.mini-blocks{
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: rgba(148, 165, 178, 0.10);
    backdrop-filter: blur(10px);
}