@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F8F9;
  --foreground: #171717;
  --btn-100:#548EFF;
  --clr-100:#548EFF;
  --clr-200:#16387A;
  --clr-300:#224891;
  --clr-400:#182A37;
  --clr-500:#F2F4F6;
  --clr-600:#D8E5FF;
  --clr-700:#E6EBEF;
  --clr-800:#8B949E;
  --clr-900:#D3D6DB;
  --clr-1000:#EBEFF2;
  --clr-1100:#5D6B77;
  --clr-1200:#848C97;

  --pagewidth:1320px;
  font-family: var(--font-inter), sans-serif;

  --animate-delay:0.5s;

  
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}

.container{
  max-width: var(--pagewidth);
  width:100%;
  margin: auto;
}
section,header,footer{

  padding-left: 20px;
  padding-right: 20px;
}

#banner.stl1{
  background-image: url(./assets/images/banner1_hero-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  }
.banner-wrapper{
  max-width: var(--pagewidth);
  width:100%;
  margin: auto;
}
.filter-wrapper{
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(37.5px);
}

select:focus-visible, input:focus-visible, textarea:focus-visible {
  outline: none;
}

.condos-grid-box .details{
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(74, 74, 74, 0.20);
  backdrop-filter: blur(10px);
}
p{
  margin-bottom: 1em;
}



.rounded-sec{
  box-shadow: 0px 1px 0px 0px #DDE2E8;
  }
  
.condoListPagination::after{
  content:"";
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-100);
  border-radius: 999px;
  opacity: 0;
  z-index: -1;
}
.condoListPagination.active::after{
  opacity: 1;
}
.condoListPagination.active
{
  color:#fff;
}


.agent-profile-block{
    
  background: linear-gradient(279deg, rgba(84, 142, 255, 0.20) 0%, rgba(84, 142, 255, 0.10) 100%);
  }
  