@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F8F9;
  --foreground: #171717;
  --btn-100:#548EFF;
  --clr-100:#548EFF;
  --clr-200:#16387A;
  --clr-300:#224891;
  --clr-400:#182A37;
  --clr-500:#F2F4F6;
  --clr-600:#D8E5FF;
  --clr-700:#E6EBEF;
  --pagewidth:1320px;
  font-family: var(--font-inter), sans-serif;

  --animate-delay:0.5s;

  
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}

.container{
  max-width: var(--pagewidth);
  width:100%;
  margin: auto;
}
section,header,footer{

  padding-left: 20px;
  padding-right: 20px;
}

#banner.stl1{
  background-image: url(./assets/images/banner1_hero-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  }
.banner-wrapper{
  max-width: var(--pagewidth);
  width:100%;
  margin: auto;
}
.filter-wrapper{
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(37.5px);
}

select:focus-visible, input:focus-visible, textarea:focus-visible {
  outline: none;
}

.condos-grid-box .details{
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(74, 74, 74, 0.20);
  backdrop-filter: blur(10px);
}
p{
  margin-bottom: 1em;
}