@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F8F9;
  --foreground: #171717;
  --btn-100:#548EFF;
  --clr-100:#548EFF;
  --clr-200:#16387A;
  --clr-300:#224891;
  --clr-400:#182A37;
  --pagewidth:1320px;
  font-family: var(--font-inter), sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}

.container{
  max-width: var(--pagewidth);
  margin: auto;
}
section,header,footer{

  padding-left: 20px;
  padding-right: 20px;
}
